.form__name{
    width:358px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    margin: 0 auto 0 auto;
    font-family: "Inter", Arial, sans-serif;
    
}