.profile__body-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 565px;
  }

  @media only screen and (max-width: 768px) {
    .profile__body-left {
      max-width: 660px;
      margin-bottom: 40px;
      align-items: center;
    }
  }

  @media only screen and (max-width: 450px) {
    .profile__body-left {
      max-width: 282px;
      margin: 0 auto;
    }
  }
