.page{
    width:100%;
    max-width:880px;
    background:#000000;
    margin: 0 auto;
    height: auto;
}



*{

    outline: 1px solid red;
    opacity: 1 !important; 
    visibility: visible !important;

}

    
