.elements-grid__icon {
    width: 21px;
    height: 19px;
    background: transparent url(../../../images/heart.svg) no-repeat center;
    border: none;
  }
  
  .elements-grid__icon:hover {
    opacity: 0.5;
  }
  
  .elements-grid__icon:active {
    background: #000000;
    color: #000000;
  }