.modal__popup{
    position: relative;
    margin: auto 10px;
    padding: 25px 22px;
    width: 100%;
    border-radius:10px; 
    box-shadow: 0 0 25px rgba(0, 0, 0, 0, 0.15);
    box-sizing: border-box;
    background-color: #fff;
}

/* @media only screen and (min-width: 550px) {
    .modal__popup {
        margin: auto;
        width: auto;
        min-width: 430px;
        padding: 36px;
      }
    
} */