.modal__popup{
    position: relative;
    margin: auto;
    padding: 25px 22px;
    width: 430px;
    height: auto;
    border-radius:10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0, 0.15);
    box-sizing: border-box;
    background-color: #fff;
}

@media only screen and (max-width: 320px) {
    .modal__popup {
        width:100%;
        max-width: 282px;
        
    }
} 