.form__save-text{
    width:109px;
    height:18px;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0;
    margin: 13.66px auto 18.49px auto;
    display: flex;
    justify-content: center;
    font-family: "Inter", Arial, sans-serif;
}