.modal__popup-image {

  /* display: flex;
  width:auto;
  height:auto;
  margin: 0 auto;
  display: flex;
  max-width: 75vw;
  max-height: 75vh;
  padding:0;
  background:none;
  object-fit: contain; */


/* height: 540px;
left: 424px;
right: 423px;
top: 90px;
margin: 0 auto;
object-fit:cover; */

}

/* #modal__popup-image{
  padding:0;
  background:none;
  object-fit: cover;
} */

@media only screen and (max-width: 330px) {
  .modal__popup-image {
    margin:auto;
    width: 240px;
    height: 299px;
  }
}