.header {
    display: flex;
    width: 100%;
    max-width: 880px;
    margin: 0 auto 37px auto; 
    padding-top: 45px;
    justify-content: left;
    border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media only screen and (max-width: 768px) {
    .header {
        max-width: 680px;
    }
}

@media only screen and (max-width: 325px) {
    .header {
        padding-top:28px;
        max-width: 318px; 
    }
}