.profile__container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 880px;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    .profile__container-body {
      margin: 0 auto;
      width: 402px;
      padding: 0;
    }
  }

  @media only screen and (max-width: 450px) {
    .profile__container-body {
      width: 282px;
    }
  }