.profile__subtitle {
    display: flex;
    margin: 0;
    padding: 16px 0 0 30px;
    font-family: "Inter", Arial, sans-serif;
    width: 100%;
    max-width: 415px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media only screen and (max-width: 768px) {
    .profile__subtitle {
      text-align: center;
      width: 282px;
      padding: 16px 0 0 0px;
    }
  }

  @media only screen and (max-width: 450px) {
    .profile__subtitle {
      padding-top: 14px;
      padding-bottom: 38px;
      font-size: 14px;
      justify-content: center;
    }
  }
