.profile__edit-container{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    max-width: 465px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 445px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .profile__edit-container {
        width:282px;
        margin: 0 auto;
    }
}
