.modal__popup-image {
  display: flex;
  width:auto;
  height:auto;
  margin: 0 auto;
  max-width: 75vw;
  max-height: 75vh;
  padding:0;
  background:none;
  object-fit: contain;
  left: 424px;
  right: 423px;
  top: 90px;
}

@media only screen and (max-width: 330px) {
  .modal__popup-image {
    margin:auto;
    width: 240px;
    height: 299px;
  }
}