.profile__text-position{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 445px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .profile__text-position {
        width: 100%;
        max-width: 282px;
    }
}

@media only screen and (max-width: 320px) {
    .profile__text-position {
        width: 100%;
        max-width: 282px;
    }
}