.profile__plus-button {
    width:150px;
    height: 50px;
    background:#000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding:0;
    background-image: url(../../images/plus.svg);
    z-index: 1;
    
}