.form-name__save-button_disabled{
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: not-allowed;
  opacity: 0.2;
}

.form-name__save-button_disabled:hover{
  opacity: 0.2;
}