.elements-grid__card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-template-rows: minmax(282px, auto);
    grid-gap: 17px;
}     



@media only screen and (max-width: 320px) {
    .elements-grid__card {
        margin: 0 auto;
        grid-gap: 20px;
    } 
}
