.elements-grid__text {
    font-family: "Inter", Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:220px;
  }